[Desktop Entry]
Type=Application
Categories=Development;IDE;
Name=Inky
Comment=Write interactive narrative in inkle's markup language
GenericName=Editor ink, inkle's markup language for writing interactive narrative in games  
Exec=inky %U
Icon=com.inklestudios.Inky
